{% extends "layouts/auth.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Roles" "/webpanel/roles" %}
    {% breadcrumb request.resolver_match.kwargs.id|yesno:'Edit,Create' "" %}
{% endblock %}

{% block content %}
<div class="card mb-5 mb-xl-10" data-kt-scroll-offset="{default: 100, md: 125}">
    <div class="card-header border-0 cursor-pointer">
        <div class="card-title m-0">
            <h3 class="fw-boldest m-0">Role {{ request.resolver_match.kwargs.id|yesno:"Edit,Create" }}</h3>
        </div>
    </div>
    <div id="kt_account_basic_info" class="collapse show">
        <form method="POST" action="" id="kt_account_basic_info_form"
            class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate"
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body border-top p-9">
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Name</label>
                    <div class="col-lg-8 fv-row fv-plugins-icon-container">
                        {{ form.name }}
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Permission</label>
                    <div class="col-lg-8 fv-row fv-plugins-icon-container">
                        <a href='javascript:void(0)' id='select-all'>select all</a> /
                        <a href='javascript:void(0)' id='deselect-all'>deselect all</a>
                        {{ form.permissions }}
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <a href="/webpanel/users" class="btn btn-light btn-active-light-primary me-2">Back</a>
                    <button type="submit" class="btn btn-primary" id="kt_account_basic_info_submit">Save
                        Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block styles%}

<link href="{% static '/plugins/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css">
{% endblock styles%}

{% block scripts %}
<script src="{% static '/plugins/multiselect/js/jquery.multi-select.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.multi-select').multiSelect();
        $('#select-all').click(function () {
            $('.multi-select').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function () {
            $('.multi-select').multiSelect('deselect_all');
            return false;
        });
    })
</script>
{% endblock scripts%}