{% extends "layouts/auth.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Roles" "/webpanel/roles" %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                            transform="rotate(45 17.0365 15.1223)" fill="black" />
                        <path
                            d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                            fill="black" />
                    </svg>
                </span>
                <input type="text" class="form-control form-control-solid w-250px ps-14 dataTable-search"
                    placeholder="Search roles" />
            </div>
        </div>
        {% if perms.auth.add_group %}
        <div class="card-toolbar">
            <a type="button" href="create" class="btn btn-primary">
                <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                            transform="rotate(-90 11.364 20.364)" fill="black" />
                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                    </svg>
                </span>
                Add Role
            </a>
        </div>
        {% endif %}
    </div>
    <div class="card-body pt-0">
        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable" id="kt_table_users">
            <thead>
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 fw-bold">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#kt_table_users').DataTable({
            info: !1,
            order: [],
            pageLength: 10,
            lengthChange: !1,
            'serverSide': true,
            'ajax': '/webpanel/roles/fetch?format=datatables',
            'columns': [{
                    'data': 'name'
                },
                {
                    'data': 'id',
                    'searchable': false,
                    'orderable': false,
                    render: function (data) {
                        var html = '';
                        {% if perms.auth.change_group %}
                            html +=
                                `<div><a href="${data}" class="btn btn-icon btn-sm btn-warning me-2"><i class="fas fa-pencil-alt"></i></a>`;
                        {% endif %}
                        return html;
                    }
                },
            ]
        });
        handleSearchDatatable();

        function handleSearchDatatable() {
            $('.dataTable-search').on('keyup', function (e) {
                $('#kt_table_users').DataTable().search(e.target.value).draw();
            });
        }
    });
</script>
{% endblock %}